.swiper-pagination {
  bottom: 0 !important;
  z-index: 10;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000;
}

.swiper .swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 0.6 !important;
  width: 10px;
  height: 10px;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #0F5F4D !important;
  opacity: 1 !important;
}